<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>


<div class="parent">
    
   

    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li>
            <a href="#">Productos</a>
            <ul class="submenu">
                <li><a href="/templates/Registrousuario.html">Nuevo producto</a></li>
                <li><a href="Listausuario.html">Lista de Productos</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Categorias</a>
            <ul class="submenu">
                <li><a href="#">Nueva Categoria</a></li>
                <li><a href="#">Lista de Categorias</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Usuarios</a>
            <ul class="submenu">
                <li><a href="{{ url_for('usuarios.AgregarAdmin') }}">Nuevo Usuario</a></li>
                <li><a href="{{ url_for('usuarios.Listausuario') }}">Lista de Usuarios</a></li>
            </ul>
        </li>
        {% if 'username' in session %}
        <li><a href="/logout" class="logout-button">Cerrar sesión</a></li>
        {% else %}
        <li><a href="/login">Iniciar sesión</a></li>
        {% endif %}
    </ul>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    
</div>

<script src="script.js"></script>
</body>
</html>