<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso de Usuario</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="parent">
    
    <div class="username-container">
        {% if 'username' in session %}
            <h1>Bienvenido, {{ session['username'] }}!</h1> <!-- Mostrar nombre de usuario -->
        {% endif %}
    </div>

    
    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li>
            <a href="#">Productos</a>
            <ul class="submenu">
                <li><a href="#">Nuevo producto</a></li>
                <li><a href="#">Lista de Productos</a></li>
                
            </ul>
        </li>
        <li>
            <a href="#">Categorias</a>
            <ul class="submenu">
                <li><a href="#">Nueva Categoria</a></li>
                <li><a href="#">Lista de Categorias</a></li>
            </ul>
        </li>

        <li>
            <a href="#">Usuarios</a>
            <ul class="submenu">
                <li><a href="#">Nuevo Usuario</a></li>
                <li><a href="#">Lista de Usuarios</a></li>
            </ul>
        </li>
       
       
        {% if 'username' in session %}
        <li><a href="/logout" class="logout-button">Cerrar sesión</a></li> <!-- Botón de cerrar sesión -->
        {% else %}
        <li><a href="/login">Iniciar sesión</a></li> <!-- Enlace a iniciar sesión si no hay sesión -->
        {% endif %}
    </ul>

  
    <div class="div3">
        
    <div class="container">
        <h2>Registro de Usuario</h2>
        <form id="userForm" action="/AgregarAdmin" method="POST">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>
            
           
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            
            
            <label for="role">Rol:</label>
            <select id="role" name="role" required>
                <option value="admin">Admin</option>
                <option value="empleado">Empleado</option>
            </select>
            
            <button type="submit">Enviar</button>
        </form>
    </script>
    </div>
    </div>
    <div class="div4">4
        FOOTER
    </div>
</div>
    
<script>
    window.onpopstate = function(event) {
        window.location.href = '/'; // Redirige a la página de inicio siempre que se de click en la pagina
    };
</script>
    <script src="script.js"></script>
</body>
</html>
